{% extends "settings/settings_frame.html" %}

{% block change_settings %}
  <div class="frame_w20pct">
    <h2>Change Password</h2>    
    <form method="post" action="/settings" enctype="multipart/form-data">
      <div class="form-group">
        <label for="password0">Current Password:</label>
        <input type="password" class="form-control" name="password0" id="password0" placeholder="Enter password"/>
      </div>
      <br>
      <div class="form-group">
        <label for="password1">New Password:</label>
        <input type="password" class="form-control" name="password1" id="password1" placeholder="Enter password"/>
      </div>
      <div class="form-group">
        <label for="password2">Confirm new Password:</label>
        <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm password"/>
      </div>
      <br>
      <div class="submit_right">
        <button type="submit" name="submit" value="password" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}